:root{
  --font-size: 1em;
  --line-height: 1.2;
}

*{
  font-size: var(--font-size);
  padding: 0px;
  margin: 0px;
  
  text-decoration: none;
  box-sizing: border-box;
 
  line-height: var(--line-height);
}

html{
  scroll-behavior: smooth;
  font-size: 1em;
}